
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);




.card-style {
  @apply  w-40 h-60   rounded-[17px] text-center cursor-pointer transition-all duration-500   select-none  hover:scale-[1.03] active:scale-[0.95] active:rotate-[1.7deg] p-2  m-3 first:ml-6 last:mr-6
  bg-white/15 backdrop-blur-md border  border-white/35 text-white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
#back-ani{
background:#151313;
} 
@layer utilities {
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  }
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  color: white;
}



/* #pattern-home {
  background-image:  repeating-radial-gradient(circle at 250px 105px, transparent 0, rgb(60, 143, 73) 60px), repeating-linear-gradient(#00a82d, #00a82d);
background-color: rgba(211, 207, 211, 0.67);
}
#pattern-library {
  background-image:  repeating-radial-gradient(circle at 0px 150px, transparent 0, rgb(60, 143, 73) 60px), repeating-linear-gradient(#00a82d, #00a82d);
background-color: rgba(211, 207, 211, 0.67);
}
#pattern-artist {
  background-image:  repeating-radial-gradient(circle at 0px 195px, transparent 0, rgb(60, 143, 73) 60px), repeating-linear-gradient(#00a82d, #00a82d);
background-color: rgba(211, 207, 211, 0.67);
}
#pattern-album {
  background-image:  repeating-radial-gradient(circle at 0px 240px, transparent 0, rgb(60, 143, 73) 60px), repeating-linear-gradient(#00a82d, #00a82d);
background-color: rgba(211, 207, 211, 0.67);
}
#pattern-room{
  background-image:  repeating-radial-gradient(circle at 0px 285px, transparent 0, rgb(60, 143, 73) 60px), repeating-linear-gradient(#00a82d, #00a82d);
background-color: rgba(211, 207, 211, 0.67);
} 
*/




